.image-styles {
  width: 300px;
  height: 400px;
  object-fit: cover;
  box-shadow: 15px 15px 10px rgb(51, 49, 85);
}
.image-styles:hover {
  cursor: pointer;
  box-shadow: 5px 5px 2px rgb(51, 49, 85);
  transition: .5s;
  opacity: .90;
}

button.btn.btn-link {
  padding: 0px;
}



@media screen and (max-width: 1200px){
  .image-styles {
    height: 305px;
  }
}
@media screen and (max-width: 1000px){
  .image-styles {
    height: 225px;
  }
}
@media screen and (max-width: 768px){
  .image-styles {
    height: fit-content;
  }
}
@media screen and (max-width: 426px){
  .image-styles {
    height: 570px;
  }
}
@media screen and (max-width: 376px){
  .image-styles {
    height: 495px;
  }
}