.image-styles {
  width: 142%;
  object-fit: cover;
  box-shadow: 15px 15px 10px rgb(51, 49, 85);
}
.image-styles:hover {
  cursor: pointer;
  box-shadow: 5px 5px 2px rgb(51, 49, 85);
  transition: .5s;
  opacity: .90;
}

button.btn.btn-link {
  padding: 0px;
}



@media screen and (max-width: 1200px){
  .image-styles {
    width: 118%;
  }
}
@media screen and (max-width: 1000px){
  .image-styles {
    width: 100%;
  }
}
@media screen and (max-width: 426px){
  .image-styles {
    width: 218%;
  }
}
@media screen and (max-width: 375px){
  .image-styles {
    width: 190%;
  }
}
@media screen and (max-width: 320px){
  .image-styles {
    width: 160%;
  }
}