.director-info {
  font-size: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  width: fit-content;
  box-shadow: 15px 15px 10px rgb(51, 49, 85);
}
.director-info-container {
  padding: 20px 0px 0px 0px;
}